.container {
	max-width: 90%;
}

input[type="text"] {
	height: 5em;
	width: 100%;
	font-size: 2em;
	margin: 1em;
}

.col-md-4 {
	min-height: 90vh;
}

.col-md-4:nth-child(even) {
	background-color: lightyellow;
}

.col-md-4:nth-child(odd) {
	background-color: lightblue;
}

.active {
	border: 5px dotted tomato;
}

person {
	display: block;
}

img {
	width: 100%;
}